*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    background-color: black;
    color:whitesmoke;
    padding:10px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 30%;
}
.profile-image{
    width:300px;
    height:300px; 
    margin-top: 20px;
    position:relative;
    left: 40%;
}
img{
    border: solid 1px #000;
    border-radius: 5px;
}
figcaption{
    margin: 20px;
    text-align: center;
    font-weight:bold;
}
#mytrack{
    font-size:18px;
    margin-left: 8px;
    background-color: #000;
    color:#fff;
    display: inline;
    position: relative;
    top: 100px;
    border-radius: 5px;
}
